.form{
    display: inline-block;
    width: 100%;
    }

.btn {
    display: inline-block;
    background-color: brown;
    margin-bottom: 20px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px ;
    width: auto;
    border-radius: 25px;
    color: #fff;
    border: none;
    font-size: 16px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%,
    rgba(35,74,213,1) 35%, 
    rgba(6,97,221,1) 100%);

}


.btn:hover {
    background-color: cornflowerblue;
}

.form input::placeholder {
    color: #999;
    font-style: italic;
}

.form > .form-row > input:focus {

    outline: 5px teal;
}