body, body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body {
    background-color: #00afcc;
}

main {
    display: inline-block;
    width: 800px;
    margin-top: 100px;
    margin-left: calc(50% - 400px);
    
}

.left-column {
    
    float: left;
    width: 40%;
    padding: 40px;
    background-color: #494eac;
}
.right-column {
    width: 60%;
    background-color: #ffffff;
    padding: 60px;
    float: left;
}
.mygtukas {
    background-color: #36f ;
    display: inline-block;
    padding: 15px;  
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 4px;
    line-height: 20px;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
    color: #ffffff
}